<footer class="bg-light fixed-bottom border-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center text-dark pt-2">
                <p><small>Funkoware™ created by Carmen María, Carolina, Víctor and Llanos for Web Engineering
                        and Services subject 2019</small></p>
            </div>
        </div>
    </div>
</footer>