<header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <p>Sample</p>
    <div class="jumbotronp rounded-0 text-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-3"><b>Your Funko Shop</b></h1>
                    <p>Everyone is a fan of something!</p>
                </div>
            </div>
        </div>
    </div>
</header>