<tr>
    <td>{{date}}</td>
    <td>{{number}}</td>
    <td>{{total}}</td>
    <td>
        {{!-- FALTA BOTON DETAILS --}}
        <a class="btn btn-info" role="button" style="float: right;" href="/funkoshop/views/order"
            onclick="Controller.controllers.profile.profile_clicked(event);">Details</a>
    </td>
</tr>