{{> nav-partial }}

{{> header-partial }}


<main>
    <div class="container">
        <div class="row">

            {{#each products}}
            {{> product-partial this buyProduct_onclick='Controller.controllers.index.buyProduct_clicked' addProduct_onclick='Controller.controllers.index.addProduct_clicked'}}
            {{/each}}


        </div>
    </div>
    <br><br>
</main>

{{> footer-partial }}