<div class="container">
    {{> nav-partial }}

    {{> header-partial }}
    <main>
        <div class="container">
            <h3 class="text-left"><b>Purchase</b></h3>
            <hr>
            <br>
            <form>
                <div class="form-group">
                    <input type="date" class="form-control" id="purchase-date" aria-describedby="dateHelp">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="purchase-address" aria-describedby="addressHelp"
                        placeholder="Buyer Address">
                </div>

                <br>
                <h5><b>Card information</b></h5>
                <div class="form-group">
                        <input type="text" class="form-control" name="card-holder-name" id="card-holder-name"
                            placeholder="Card Holder's Name">
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" name="card-number" id="card-number"
                            placeholder="Debit/Credit Card Number">
                </div>

                <hr>
                <br>

                <h5><b>Product list </b></h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Quantity</th>
                            <th scope="col">Product</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart.shoppingCartItems}}
                        {{> purchase-item-partial this }}
                        {{/each}}
                    </tbody>
                </table>
                <hr>
                <div class="container">
                    <div class="row">
                        <b>Subtotal: </b>&nbsp;
                        <p>{{formatPrice cart.subtotal}}</p>
                    </div>
                    <div class="row">
                        <b>Tax: </b>&nbsp;
                        <p>{{formatTax cart.tax}}</p>
                    </div>
                    <div class="row">
                        <b>Total: </b>&nbsp;
                        <p>{{formatPrice cart.total}}</p>
                    </div>
                </div>
                <hr>
                <div class="form-check">
                    <a href="/funkoshop/views/profile" class="btn btn-info" style="float: right;" role="button" onclick="Controller.controllers.purchase.checkout_clicked(event)">Checkout</a>
                </div>

            </form>

        </div> <br><br><br><br>
    </main>
    {{> footer-partial }}
</div>