<<<<<<< HEAD
v<div class="container">
=======
<div class="container">
>>>>>>> 62094af879717538ed148ad4d891f843cf2f19b4
    {{> nav-partial }}

    {{> header-partial }}


    <main>
        <div class="container">
            <h3 class="text-center">Sign in</h3>
            <br>
            <form>
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Email address"><!--  placeholder="Enter email">-->
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <!-- <label for="exampleInputPassword1">Password</label> -->
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-check">
                    {{!-- <button type="submit" class="btn btn-info" style="float: right;">Sign in</button> --}}
                    <a class="btn btn-info" style="float: right;" href="/funkoshop/views/index" 
                        onclick="Controller.controllers.signin.signin_clicked(event);">Sign in</a>
                    {{!-- <button onclick="Controller.controllers.signin.signin_clicked(event, {{_id}});" class="btn btn-info" style="float: right;">Sign in</button> --}}
                </div>

            </form>

        </div> <br><br>
    </main>

    {{> footer-partial }}
</div>