<div class="container">
    {{> nav-partial }}

    {{> header-partial }}

<main>
    <div class="container">
        <h3 class="text-center">Sign up</h3>
        <br>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name" value="test">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="surname" aria-describedby="surnameHelp"
                    placeholder="Surname" value="test">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="address" aria-describedby="addressHelp"
                    placeholder="Address" value="test">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="birth" aria-describedby="birthHelp" value="2019-11-30">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Email address" value="email12345@email.com">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password" value="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" value="password">
            </div>
            <div class="form-check">
                <button
                    onclick="Controller.controllers.signup.signup_clicked(event);" class="btn btn-info" style="float: right">Sign up</button>
            </div>
            <br><br><br>
        </form>

    </div> <br><br>
</main>


    {{> footer-partial }}
</div>