<div class="container">
    {{> nav-partial }}

    {{> header-partial }}

    <main>
        <div class="container">
            <h3 class="text-center">Sign up</h3>
            <br>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="surname" aria-describedby="surnameHelp"
                        placeholder="Surname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="address" aria-describedby="addressHelp"
                        placeholder="Address">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" id="birth" aria-describedby="birthHelp">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Email address">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPasswordConfirm1"
                        placeholder="Confirm Password">
                </div>
                <div class="form-check">
                    <button type="submit" class="btn btn-info" style="float: right;">Sign up</button>
                </div>

            </form>

        </div> <br><br>
    </main>


    {{> footer-partial }}
</div>